.new
{background: rgba(222,138,252,1);
background: -moz-linear-gradient(left, rgba(222,138,252,1) 0%, rgba(177,145,222,1) 50%, rgba(227,175,240,1) 93%, rgba(227,175,240,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222,138,252,1)), color-stop(50%, rgba(177,145,222,1)), color-stop(93%, rgba(227,175,240,1)), color-stop(100%, rgba(227,175,240,1)));
background: -webkit-linear-gradient(left, rgba(222,138,252,1) 0%, rgba(177,145,222,1) 50%, rgba(227,175,240,1) 93%, rgba(227,175,240,1) 100%);
background: -o-linear-gradient(left, rgba(222,138,252,1) 0%, rgba(177,145,222,1) 50%, rgba(227,175,240,1) 93%, rgba(227,175,240,1) 100%);
background: -ms-linear-gradient(left, rgba(222,138,252,1) 0%, rgba(177,145,222,1) 50%, rgba(227,175,240,1) 93%, rgba(227,175,240,1) 100%);
background: linear-gradient(to right, rgba(222,138,252,1) 0%, rgba(177,145,222,1) 50%, rgba(227,175,240,1) 93%, rgba(227,175,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de8afc', endColorstr='#e3aff0', GradientType=1 );}